.button {
  background-color: transparent;
  border-color: #a5d8ff;
  color: #a5d8ff;
}

.button:hover,
.button:active {
  color: white;
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #a5d8ff;
  border-radius: 5px;
  padding: 0.075rem 0.625rem;
  color: #1d1d1d;
}
